{% set pageTitle = 'About us' %}
{% extends 'page.html' %}
{% block pageContent %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ pageTitle }}</h1>
            <p class="lead">
                We are the Web Services Group at NIHRCC, Southampton.
            </p>
            <p>
                We design and build web applications for the NIHR. Our aim is to engage people in public health and care
                in open, friendly, and accessible ways.
            </p>
            <p>
                Our team of UX and graphic designers, software engineers, and PMs deliver solutions based on user
                research, accessibility testing, and following the <i>Government Digital Service</i>'s
                <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a>.
            </p>
            <h2 class="heading-underline">Contact us</h2>
            <p>
                Report bugs, request new features, or get support on <a href="https://github.com/nihruk">Github</a>.
            </p>
            <p>
                For other matters, contact us at <a href="mailto:hei-it@soton.ac.uk">hei-it@soton.ac.uk</a>.
            </p>
            <h2>NIHR</h2>
            <p>
                The <a href="http://www.nihr.ac.uk/">NIHR</a> funds, enables and delivers world-leading health and social
                care research that improves people’s health and wellbeing and promotes economic growth.
            </p>
        </div>
    </div>
</div>
{% endblock %}
