{% extends 'page.html' %}
{% block pageContent %}
<div class="container">
    <div class="row">
        <h1>Services</h1>
        <div class="col-8">
            <p>
                The Web Services Group provides the following services to colleagues throughout the NIHR:
            </p>
            <ul>
                <li>User experience and accessibility research</li>
                <li>UX and graphic design</li>
                <li>Custom software development</li>
                <li>Open Data</li>
            </ul>
            <h2 class="heading-underline">Platforms</h2>
            <h3>Design System</h3>
            <p>
                Design and build NIHR web applications using our <a href="/portfolio/design-system">Design
                System</a>.
            </p>
            <h3>Console</h3>
            <p>
                Fetch open data about NIHR funding, awards, publications, and more from the
                <a href="/portfolio/console">Console</a> (coming soon).
            </p>
        </div>
    </div>
</div>
{% endblock %}