{% extends 'portfolio-page.html' %}
{% set pageTitle = 'Portfolio' %}
{% block portfolioPageContent %}
    <ul>
        <li><a href="/portfolio/console">Console</a></li>
        <li><a href="/portfolio/design-system">Design System</a></li>
        <li><a href="/portfolio/evir">Ensuring Value in Research (<i>EViR</i>)</a></li>
        <li><a href="/portfolio/fundingawards">Funding and Awards</a></li>
        <li><a href="/portfolio/jla">James Lind Alliance (<i>JLA</i>)</a></li>
        <li><a href="/portfolio/journalslibrary">Journals Library</a></li>
        <li><a href="/portfolio/nihr">www.nihr.ac.uk</a></li>
    </ul>
{% endblock %}
